doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="icon", type="image/x-icon", href="assets/favicon.ico")
        title Adventure
    body 
        append value
            - var title= "トップページ";
            - var description= "ディスクリプション";
            - var keywords= "キーワード,キーワード2,キーワード3";


        block content
            .sample hello
            section 
                .area.js-area
                    .wrap
                        .item.item04.js-item.js-item04
                            span 4
                        .item.item05.js-item.js-item05
                            span 5
                        .item.item06.js-item.js-item06
                            span 6